# 忽略目的檔
*.o

#忽略lib檔
*.a

#忽略專案所有執行檔
dtime/test
exam/test
exam/keypad
exam/args
exam/comp
exam/cheat
exam/search
exam/TempFile
exam/modify
mysql/myhello
ncurses/hello
ncurses/test
ncurses/twinkle
ncurses/win
schar/test
screen/test
twindow/test
util/test
